## Part 1: Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import numpy as np
from tensorflow.keras.models import Model
from tensorflow.keras import layers

#  Import and read the attrition data
attrition_df = pd.read_csv('https://static.bc-edx.com/ai/ail-v-1-0/m19/lms/datasets/attrition.csv')
attrition_df.head()

WARNING:tensorflow:From c:\Users\mckal\anaconda3\envs\AI\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,HourlyRate,JobInvolvement,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,Sales,1,2,Life Sciences,2,94,3,...,3,1,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,Research & Development,8,1,Life Sciences,3,61,2,...,4,4,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,Research & Development,2,2,Other,4,92,2,...,3,2,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,Research & Development,3,4,Life Sciences,4,56,3,...,3,3,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,Research & Development,2,1,Medical,1,40,3,...,3,4,1,6,3,3,2,2,2,2

In [2]:
# Determine the number of unique values in each column.
attrition_df.nunique()

Age                         43
Attrition                    2
BusinessTravel               3
Department                   3
DistanceFromHome            29
Education                    5
EducationField               6
EnvironmentSatisfaction      4
HourlyRate                  71
JobInvolvement               4
JobLevel                     5
JobRole                      9
JobSatisfaction              4
MaritalStatus                3
NumCompaniesWorked          10
OverTime                     2
PercentSalaryHike           15
PerformanceRating            2
RelationshipSatisfaction     4
StockOptionLevel             4
TotalWorkingYears           40
TrainingTimesLastYear        7
WorkLifeBalance              4
YearsAtCompany              37
YearsInCurrentRole          19
YearsSinceLastPromotion     16
YearsWithCurrManager        18
dtype: int64

In [3]:
# Create y_df with the Attrition and Department columns
y_df = attrition_df[["Attrition", "Department"]]
y_df

     Attrition              Department
0          Yes                   Sales
1           No  Research & Development
2          Yes  Research & Development
3           No  Research & Development
4           No  Research & Development
...        ...                     ...
1465        No  Research & Development
1466        No  Research & Development
1467        No  Research & Development
1468        No                   Sales
1469        No  Research & Development

[1470 rows x 2 columns]

In [4]:
# Create a list of at least 10 column names to use as X data
list_x = ["Education",
         "Age",
           "DistanceFromHome",
             "JobSatisfaction",
               "HourlyRate",
                 "StockOptionLevel",
                   "WorkLifeBalance",
                     "YearsAtCompany",
                       "YearsSinceLastPromotion",
                         "NumCompaniesWorked"]

# Create X_df using your selected columns
X_df = attrition_df[list_x]

# Show the data types for X_df
X_df.dtypes

Education                  int64
Age                        int64
DistanceFromHome           int64
JobSatisfaction            int64
HourlyRate                 int64
StockOptionLevel           int64
WorkLifeBalance            int64
YearsAtCompany             int64
YearsSinceLastPromotion    int64
NumCompaniesWorked         int64
dtype: object

In [5]:
# Split the data into training and testing sets
from sklearn.model_selection import train_test_split

In [6]:
# Convert your X data to numeric data types however you see fit
# Add new code cells as necessary
OverTime_counts = pd.Series([788, 314], index=['No', 'Yes'], name='OverTime')

# Replace 'No' with 0 and 'Yes' with 1
OverTime_numeric = OverTime_counts.replace({'No': 0, 'Yes': 1})

# Assign the name and dtype back to the Series
OverTime_numeric.name = 'OverTime'
OverTime_numeric = OverTime_numeric.astype('int64')

# Display the result
print(OverTime_numeric)

No     788
Yes    314
Name: OverTime, dtype: int64

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_df, y_df, random_state=1)

In [8]:
# Convert your X data to numeric data types however you see fit, int64 is the dtype
X_train = X_train.astype('int64')
X_test = X_test.astype('int64')

#Add new code cells as necessary
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(1102, 10) (368, 10) (1102, 2) (368, 2)

In [9]:
# Create a StandardScaler
scaler = StandardScaler()


# Fit the StandardScaler to the training data
X_scaler = scaler.fit(X_train)


# Scale the training and testing data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [10]:
from sklearn.preprocessing import OneHotEncoder

In [11]:
# Create a OneHotEncoder for the Department column
department_encoder = OneHotEncoder(sparse_output=False)


# Fit the encoder to the training data
department_encoder.fit(y_train[['Department']])


# Create two new variables by applying the encoder
# to the training and testing data
y_train_department = department_encoder.transform(y_train[['Department']])
y_test_department = department_encoder.transform(y_test[['Department']])

In [12]:
# Create a OneHotEncoder for the Attrition column
attrition_encoder = OneHotEncoder(sparse_output=False)


# Fit the encoder to the training data
attrition_encoder.fit(y_train[['Attrition']])


# Create two new variables by applying the encoder
# to the training and testing data
y_train_attrition = attrition_encoder.transform(y_train[['Attrition']])
y_test_attrition = attrition_encoder.transform(y_test[['Attrition']])

## Create, Compile, and Train the Model

In [13]:
# Find the number of columns in the X training data
num_columns = X_train.shape[1]
print("Number of columns in the X training data: ", num_columns)

# Create the input layer
input_layer = layers.Input(shape=(10,), name='input')


# Create at least two shared layers
shared_layer1 = layers.Dense(64, activation='relu', name='shared1')(input_layer)
shared_layer2 = layers.Dense(128, activation='relu', name='shared2')(shared_layer1)

Number of columns in the X training data:  10
WARNING:tensorflow:From c:\Users\mckal\anaconda3\envs\AI\Lib\site-packages\keras\src\backend.py:1398: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

In [14]:
# Create a branch for Department
# with a hidden layer and an output layer

# Create the hidden layer
department_hidden = layers.Dense(32, activation='relu', name='department_hidden')(shared_layer2)


# Create the output layer
num_unique_departments = len(y_train['Department'].unique())
department_output = layers.Dense(num_unique_departments, activation='softmax', name='department_output')(department_hidden)

In [15]:
# Create a branch for Attrition
# with a hidden layer and an output layer

# Create the hidden layer
attrition_hidden = layers.Dense(32, activation='relu', name='attrition_hidden')(shared_layer2)


# Create the output layer
num_unique_attritions = len(y_train['Attrition'].unique())
attrition_output = layers.Dense(num_unique_attritions, activation='sigmoid', name='attrition_output')(attrition_hidden)

In [16]:
# Create the model
model = Model(inputs=input_layer, outputs=[department_output, attrition_output])


# Compile the model
model.compile(optimizer='adam',
              loss={'department_output': 'categorical_crossentropy', 'attrition_output': 'categorical_crossentropy'},
              metrics={'department_output': 'accuracy', 'attrition_output': 'accuracy'})

# Summarize the model
model.summary()

WARNING:tensorflow:From c:\Users\mckal\anaconda3\envs\AI\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

Model: "model"
__________________________________________________________________________________________________
 Layer (type)                Output Shape                 Param #   Connected to
==================================================================================================
 input (InputLayer)          [(None, 10)]                 0         []

 shared1 (Dense)             (None, 64)                   704       ['input[0][0]']

 shared2 (Dense)             (None, 128)                  8320      ['shared1[0][0]']

 department_hidden (Dense)   (None, 32)                   4128      ['shared2[0][0]']

 attrition_hidden (Dense)    (None, 32)                   4128      ['shared2[0][0]']

 department_output (Dense)   (None, 3)                    99        ['department_hidden[0][0]']

 attrition_output (Dense)    (None, 2)                    66        ['attrition_hidden[0][0]']

==================================================================================================
Total params: 17445 (68.14 KB)
Trainable params: 17445 (68.14 KB)
Non-trainable params: 0 (0.00 Byte)
__________________________________________________________________________________________________

In [17]:
# Train the model
model.fit(
    X_train_scaled,
    {'department_output': y_train_department, 'attrition_output': y_train_attrition},
    epochs=10,
    batch_size=32,
    validation_split=0.2
)

Epoch 1/10
WARNING:tensorflow:From c:\Users\mckal\anaconda3\envs\AI\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

WARNING:tensorflow:From c:\Users\mckal\anaconda3\envs\AI\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

28/28 [==============================] - 2s 11ms/step - loss: 1.3899 - department_output_loss: 0.8837 - attrition_output_loss: 0.5062 - department_output_accuracy: 0.6300 - attrition_output_accuracy: 0.8150 - val_loss: 1.3666 - val_department_output_loss: 0.8557 - val_attrition_output_loss: 0.5109 - val_department_output_accuracy: 0.6335 - val_attrition_output_accuracy: 0.8281
Epoch 2/10
28/28 [==============================] - 0s 2ms/step - loss: 1.1945 - department_output_loss: 0.7706 - attrition_output_loss: 0.4239 - department_output_accuracy: 0.6629 - attrition_output_accuracy: 0.8513 - val_loss: 1.3423 - val_department_output_loss: 0.8613 - val_attrition_output_loss: 0.4810 - val_department_output_accuracy: 0.6335 - val_attrition_output_accuracy: 0.8281
Epoch 3/10
28/28 [==============================] - 0s 2ms/step - loss: 1.1571 - department_output_loss: 0.7534 - attrition_output_loss: 0.4037 - department_output_accuracy: 0.6617 - attrition_output_accuracy: 0.8513 - val_loss: 1.3193 - val_department_output_loss: 0.8450 - val_attrition_output_loss: 0.4743 - val_department_output_accuracy: 0.6290 - val_attrition_output_accuracy: 0.8281
Epoch 4/10
28/28 [==============================] - 0s 2ms/step - loss: 1.1322 - department_output_loss: 0.7475 - attrition_output_loss: 0.3848 - department_output_accuracy: 0.6583 - attrition_output_accuracy: 0.8513 - val_loss: 1.3189 - val_department_output_loss: 0.8500 - val_attrition_output_loss: 0.4689 - val_department_output_accuracy: 0.6335 - val_attrition_output_accuracy: 0.8281
Epoch 5/10
28/28 [==============================] - 0s 2ms/step - loss: 1.1041 - department_output_loss: 0.7344 - attrition_output_loss: 0.3697 - department_output_accuracy: 0.6686 - attrition_output_accuracy: 0.8524 - val_loss: 1.3657 - val_department_output_loss: 0.8957 - val_attrition_output_loss: 0.4700 - val_department_output_accuracy: 0.6335 - val_attrition_output_accuracy: 0.8281
Epoch 6/10
28/28 [==============================] - 0s 2ms/step - loss: 1.0878 - department_output_loss: 0.7321 - attrition_output_loss: 0.3558 - department_output_accuracy: 0.6697 - attrition_output_accuracy: 0.8581 - val_loss: 1.3443 - val_department_output_loss: 0.8664 - val_attrition_output_loss: 0.4779 - val_department_output_accuracy: 0.6290 - val_attrition_output_accuracy: 0.8326
Epoch 7/10
28/28 [==============================] - 0s 2ms/step - loss: 1.0614 - department_output_loss: 0.7151 - attrition_output_loss: 0.3463 - department_output_accuracy: 0.6708 - attrition_output_accuracy: 0.8581 - val_loss: 1.3487 - val_department_output_loss: 0.8645 - val_attrition_output_loss: 0.4843 - val_department_output_accuracy: 0.6199 - val_attrition_output_accuracy: 0.8326
Epoch 8/10
28/28 [==============================] - 0s 2ms/step - loss: 1.0387 - department_output_loss: 0.7075 - attrition_output_loss: 0.3312 - department_output_accuracy: 0.6742 - attrition_output_accuracy: 0.8672 - val_loss: 1.3364 - val_department_output_loss: 0.8669 - val_attrition_output_loss: 0.4696 - val_department_output_accuracy: 0.6154 - val_attrition_output_accuracy: 0.8326
Epoch 9/10
28/28 [==============================] - 0s 2ms/step - loss: 1.0249 - department_output_loss: 0.7009 - attrition_output_loss: 0.3240 - department_output_accuracy: 0.6810 - attrition_output_accuracy: 0.8661 - val_loss: 1.3340 - val_department_output_loss: 0.8628 - val_attrition_output_loss: 0.4712 - val_department_output_accuracy: 0.6199 - val_attrition_output_accuracy: 0.8326
Epoch 10/10
28/28 [==============================] - 0s 3ms/step - loss: 0.9982 - department_output_loss: 0.6884 - attrition_output_loss: 0.3098 - department_output_accuracy: 0.6913 - attrition_output_accuracy: 0.8672 - val_loss: 1.3494 - val_department_output_loss: 0.8682 - val_attrition_output_loss: 0.4812 - val_department_output_accuracy: 0.6063 - val_attrition_output_accuracy: 0.8371

In [18]:
# Evaluate the model with the testing data
results = model.evaluate(X_test_scaled, {'department_output': y_test_department, 'attrition_output': y_test_attrition})

print("Test loss, Test accuracy:", results)

12/12 [==============================] - 0s 1ms/step - loss: 1.3105 - department_output_loss: 0.8088 - attrition_output_loss: 0.5017 - department_output_accuracy: 0.6114 - attrition_output_accuracy: 0.8098
Test loss, Test accuracy: [1.3104957342147827, 0.808845043182373, 0.5016506910324097, 0.6114130616188049, 0.8097826242446899]

In [19]:
# Print the accuracy for both department and attrition
print(f"Department Accuracy: {results[3]}")
print(f"Attrition Accuracy: {results[4]}")

Department Accuracy: 0.6114130616188049
Attrition Accuracy: 0.8097826242446899

# Summary

In the provided space below, briefly answer the following questions.

1. Is accuracy the best metric to use on this data? Why or why not?

2. What activation functions did you choose for your output layers, and why?

3. Can you name a few ways that this model might be improved?

In [20]:
# Summary of the 'Attrition' column
attrition_summary = attrition_df['Attrition'].value_counts()
print("Attrition summary:\n", attrition_summary)

# Summary of the 'Department' column
department_summary = attrition_df['Department'].value_counts()
print("\nDepartment summary:\n", department_summary)

Attrition summary:
 Attrition
No     1233
Yes     237
Name: count, dtype: int64

Department summary:
 Department
Research & Development    961
Sales                     446
Human Resources            63
Name: count, dtype: int64

YOUR ANSWERS HERE

1. 
2. 
3.